# Virtual environments
airflow2_venv/
*.pid
*.cfg
*.db
venv/
.venv/
env/
.DS_Store
.idea/
webserver_config.py
ENV/
.vscode/


#just checking


# Python
__pycache__/
*.py[cod]
*.pyc
.Python
*$py.class
*.so

# Airflow
airflow.db
airflow.cfg
logs/
*.log
unittests.cfg



\



# AWS
.aws/


# Data
*.csv
*.parquet